---
---

//
// Variables & Mixins
//

// Colors
$color_black : #2A2A2B;
$color_blue : #318CFF;
$color_darkBlue : #3023AE;
$color_lightBlue : #33DDFF;
$color_grayBlue : #80808B;

// Media breakpoints
@mixin breakpoint($point) {
    @if $point == tablet {
        @media (max-width: 1080px) { @content ; }
    }
    @else if $point == phone {
        @media (max-width: 640px) { @content ; }
    }
}

//
// Global
//

* {
    box-sizing:border-box;
}

a {
    color:$color_blue;
    text-decoration:none;

    &:hover {
        text-decoration:underline;
    }
}

body {
    color:$color_black;
    font:14px/1.5em 'Roboto', Helvetica, Arial, sans-serf;
    margin:0;
    overflow:hidden;
    padding:0;
}

h1 {
    font-size:2.4rem;
    font-weight:400;
    line-height:1.25em;
}

h2 {
    font-size:2.4rem;
    line-height:1.1em;
}

//
// Structure
//

.wrapper {
    height:100vh;
    overflow:auto;
    position:relative;
    width:100vw;
    z-index:2;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(tablet) {
        overflow:visible;
    }
}

.container {
    min-height:100vh;
    margin:0 auto;
    max-width:1180px;
    padding:0 4em;
    position:relative;
    z-index:2;

    @include breakpoint(tablet) {
        padding:0;
    }
}

// Diagonal BG
body { 
    background:linear-gradient(120deg, white 55%, $color_darkBlue 55%, $color_lightBlue 100%);

    @include breakpoint(tablet) {
        background:white;
    }
}

// Intro
.intro {
    pointer-events:none;
    position:fixed;
    top:50%;
    transform:translateY(-60%);
    max-width:320px;

    h1 {
        margin:0.5em 0;
        max-width:300px;
        strong {
            font-size:1.25em;
        }
    }

    p {
        color:#80808B;
        line-height:1.85em;
        margin:0 0 1.85em;
    }

    @include breakpoint(tablet) {
        margin:0 auto;
        padding:7.5em 0 0;
        position:static;
        text-align:center;
        transform:none;
        width:auto;
    }

    @include breakpoint(phone) {
       padding:5em 0 0;
    }
}

// Nav
.links {
    &-item {
        opacity:0.5;
        padding:0 0.25em;
        pointer-events:all;
        transition:opacity 0.2s ease-in-out;
        &:hover {
            opacity:1;
        }
    }

    &-resume {
        margin-left:-0.25em;
        margin-right:0.8em;
    }

    &-twitter {
        margin-right:0.5em;
    }

    &-github {
        margin-right:0;
    }

    @include breakpoint(tablet) {
        &-item {
            margin:0 1em;
            padding:0;
        }
        
        &-resume {
            padding-right:0.25em;
        }
    }
}

// Portfolio
.portfolio {
    bottom:0;
    position:absolute;
    right:4em;
    top:0;
    width:600px;

    &-list {
        list-style:none;
        margin:0;
        padding:calc(50vh - 275px) 0 calc(50vh - 240px);
    }

    &-item {
        background:$color_black no-repeat center;
        background-size:cover;
        box-shadow:0 10px 24px rgba(black,0.2);
        border:10px solid white;
        cursor:pointer;
        margin:30px 0;
        position:relative;
        transform:scale(1);
        
        &:before {
            content:'';
            display:inline-block;
            padding-top:75%;
        }

        &.hide {
            visibility:hidden;
        }
    }

    @include breakpoint(tablet) {
        background:linear-gradient(165deg, white 280px, $color_darkBlue 280px, $color_lightBlue 100%);
        padding-top:7.5em;
        padding-bottom:1em;
        position:static;
        width:auto;
        
        &-list {
            text-align:center;
            padding:0;
        }
        
        &-item {
            display:inline-block;
            margin:0 1.5% 4%;
            width:44%;
        }
    }

    @include breakpoint(phone) {
        background:linear-gradient(165deg, white 120px, $color_darkBlue 120px, $color_lightBlue 100%);
        padding-top:4em;
        
        &-item {
            border-width:5px;
            width:94%;
        }
    }
}

//
// Modal
//

.modal {
    background:rgba(241,241,241,0.96);
    bottom:0;
    left:0;
    opacity:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
    transition:all 0.2s ease-in-out;
    transition-delay:0.75s;
    visibility:hidden;
    z-index:999;

    &.show {
        opacity:1;
        transition-delay:0.4s;
        visibility:visible;

        .modal {
            &-close {
                right:-1px;
                transition-duration:0.8s;
                transition-delay:1s;
            }

            &-pane {
                right:0;
                transition-duration:0.8s;
                transition-delay:0.25s;
            }

            &-content {
                opacity:1;
                transform:translateX(0);
                transition-duration:1s;
                transition-delay:0.4s;
            }
        }
    }

    &-image {
        background-color:rgba($color_black,0.8);
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        border:10px solid white;
        box-shadow:0 10px 24px rgba(black,0.2);
        cursor:pointer;
        position:absolute;
        transform:translate3d(0,0,0);
        transition-delay:1s;
        visibility:hidden;
        z-index:9999;
        
        &:before {
            content:'';
            display:inline-block;
            padding-top:75%;
        }

        &.animate {
            transition-property:left, margin, top, transform, width, visibility;
            transition-duration:0.4s;
            transition-timing-function:ease-in-out;
        }

        &.move {
            left:2vw!important;
            margin:0 2em;
            top:50%!important;
            transition-delay:0s;
            transform:translateY(-50%);
            visibility:visible;
            width:55vw!important;
        }
    }

    &-close {
        background:rgba($color_black,0.9);
        color:white;
        display: table;
        font-size:44px;
        font-weight:100;
        height:50px;
        padding:0;
        position:absolute;
        right:-50px;
        text-align:center;
        transition:all 0.2s ease-in-out;
        transition-delay:0s;
        top:30px;
        width:50px;

        &:hover {
            cursor:pointer;
            
            span {
                opacity:1;
            }
        }

        span {
            display:block;
            opacity:0.8;
            position:absolute;
            top:50%;
            transform:translateY(-57%);
            transition:all 0.2s linear;
            width:100%;
        }
    }

    &-pane {
        background:white;
        left:0;
        overflow:hidden;
        position:absolute;
        right:100%;
        top:50%;
        transform:translateY(-50%);
        transition:all 0.4s ease-in-out;
        transition-delay:0.5s;
    }

    &-content {
        margin-left:60vw;
        opacity:0;
        padding:3em 4em;
        position:relative;
        transform:translateX(-10%);
        transition:all 0.4s ease-in-out;
        width:30vw;
    }

    &-title {
        margin-bottom:20px;
    }

    &-project {
        font-size:1.5em;
        margin:0;

        &:after {
            background:$color_blue;
            content:'';
            display:block;
            height:3px;
            margin:1em 0;
            width:100px;
        }
    }

    &-brief,
    &-skills {
        color:$color_grayBlue;
        max-width:250px;
    }

    &-brief {
        margin:1em 0 1.5m;
    }

    &-skills {
        padding-left:1.5em;
        padding-bottom:0.5em;
    }
}